<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887262353393-769qk6sj7nphsjc0q5cgkonhquj5ffl6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887262353393-769qk6sj7nphsjc0q5cgkonhquj5ffl6</string>
	<key>API_KEY</key>
	<string>AIzaSyAzYARk2-6SkexPkH1HNQS82Nzn9tiFijs</string>
	<key>GCM_SENDER_ID</key>
	<string>887262353393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suleymanyalcinkaya.InstaCloneFirebase1</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase1-b282d</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase1-b282d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887262353393:ios:ac280213658be454371650</string>
</dict>
</plist>